@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/static/images/paper-bk.png");
}

/* ------ Nav ---- */

nav ul a {
    color: black;
}

main {
    flex: 1 0 auto;
}

.btn-small {
    margin: 5px;
}
 
.nav-wrapper .brand-logo {
    font-size: 20px;
    font-family: 'Averia Serif Libre', cursive;
    margin-left: 10px;
}

.card-panel.home {
    padding: 8px;
}

/* ------ Social icons ---- */

i.fab {
    padding: 10px;
}

/* ------ Home page ---- */

div.row.features {
    margin-top: 20px;
}

ul.feature-list {
    line-height: 2.3;
    font-size: 20px;
    background-image: url("/static/images/lines.png");
}

div.footer-copyright.red.darken-4 {
    padding: 3px;
}

/* ------ Poem text ---- */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}