@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/static/images/paper-bk.png");
}

/* ------ Nav ---- */

nav ul a {
    color: black;
}

nav ul a:hover {
    color: #d32f2f;
}

main {
    flex: 1 0 auto;
}
 
.nav-wrapper .brand-logo {
    font-size: 20px;
    font-family: 'Averia Serif Libre', cursive;
    margin-left: 10px;
}

/* ------ Features ---- */

div.row.features {
    margin-top: 20px;
}

ul.feature-list {
    line-height: 2.3;
    font-size: 20px;
    background-image: url("/static/images/lines.png");
}

/* ------ Search buttons ---- */

.btn-small {
    margin: 5px;
}

.btn-small:hover {
    text-shadow: 2px 2px 3px black;
}

/* ------ Poem text ---- */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

/* ------ Footer ---- */

div.footer-copyright.red.darken-4 {
    padding: 3px;
}

.fa-facebook:hover {
    text-shadow: 2px 2px 3px black;
}

.fa-instagram:hover {
    text-shadow: 2px 2px 3px black;
}

.fa-twitter:hover {
    text-shadow: 2px 2px 3px black;
}

a.white-text.footer-link:hover {
    text-decoration: underline;
}

i.fab {
    padding: 10px;
}

/* ------ Media queries ---- */

@media only screen and (max-width: 600px) {
  img.responsive-img.typew {
    margin-top: 20px;
  }
  ul.feature-list {
    font-size: 13px;
  }
  h4 {
      font-size:6vw;
  }
}