@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif;
    justify-content: center;
    font-weight: 400;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #e0e0e0;
}

/* ------ Nav ---- */

nav ul a {
    color: black;
}

main {
    flex: 1 0 auto;
}

.btn-small {
    margin: 5px;
}
 
.nav-wrapper .brand-logo {
    font-size: 20px;
    margin-left: 10px;
}

.card-panel.home {
    padding: 8px;
}

/* ------ Social icons ---- */

i.fab {
    padding: 10px;
}

/* ------ Home page ---- */

div.row.features {
    margin-top: 20px;
}

ul.feature-list {
    line-height: 2.3;
    font-size: 20px;
}

#poems {
    background-color: #212121;
}