{% extends "base.html" %}
{% block content %}

<!-- Custom error page for 500 status code meaning Internal Server Error.
     This page displays and gives a friendly explanation message and guides the user back to the home page via a link-->
  <h1 class="center-align red-text text-darken-1 error">Internal Server Error</h1>

  <p class="center-align error">Oh dear!<br> We're sorry but something went wrong!<br></p>

  <p class="center-align error"><a href="{{ url_for('get_poems') }}">Go to homepage?</a></p>
  

{% endblock %}