{% extends "base.html" %}
{% block content %}

    <h4 class="center-align">Add Poem</h4>

<div class="row">
    <form class="col s12" method="POST" action="">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen-square prefix red-text text-darken-1"></i>
                <input id="poem_title" name="poem_title" minlength="5"
                    maxlength="50" type="text" class="validate" required>
                <label for="poem_title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-file-signature prefix red-text text-darken-1"></i>
                <input id="poem_author" name="poem_author" minlength="5"
                    maxlength="50" type="text" class="validate" required>
                <label for="poem_author">Name of Author</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix red-text text-darken-1"></i>
                <textarea id="poem_text" name="poem_text" minlength="10" class="materialize-textarea validate" required></textarea>
                <label for="poem_text">Poem (Text)</label>
            </div>
        </div>
    </form>
</div>    

{% endblock %}   