{% extends "base.html" %}
{% block content %}

    <h4 class="center-align">Add Type</h4>
    <!-- Admin users only may add a poem type using this form-->
    <div class="row card-panel white">
        <form class="col s12" method="POST" action="{{ url_for('add_type') }}">
            <!-- type name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-check-circle prefix red-text text-darken-1"></i>
                    <input id="type_name" name="type_name" minlength="3"
                        maxlength="30" type="text" class="validate" required>
                    <label for="type_name">Poem Type</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row center-align">
                <button class="btn-small waves-effect red darken-1" type="submit">Add Type
                <i class="fas fa-plus-circle right"></i>
                </button>
            </div>
        </form>
    </div>    

{% endblock %}   