{% extends "base.html" %}
{% block content %}

    <div class="container features">
    <div class="row">
        <div class="col s12 m6 l6">
                <h5>Features</h5>
                <h6>Create an account & add your own poems!</h6>
                <h6>Select poetry types like Haiku, Sonnet, Free Verse etc.</h6>
                <h6>Private profile displaying all of your poems</h6>
                <h6>Add, view, edit and delete poems</h6> 
        </div>
        
        <div class="col s12 m6 l6">
            <img class="responsive-img" src="static/images/typewriter.png">
        </div>
    </div>
    

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel home">
                <h5 class="center-align red-text text-darken-1"> 
                    Your Submissions
                </h5>
                <h6 class="center-align black-text"> 
                    The most recent poems submitted by our community of writers!
                </h6>
                
            </div>
        </div>
    </div>

    <ul class="collapsible popout">
        {% for poem in poems %}
        <li>
            <div class="collapsible-header">
                <div class="row">
                    <div class="col s12 center-align">   
                        <i class="far fa-arrow-alt-circle-down red-text text-darken-1"></i>
                        <strong>{{ poem.poem_title }}</strong> : By {{ poem.poem_author }}
                    </div>
                </div> 
                <div class="row">
                    <div class="col s12 center-align"> 
                        {% if session.user|lower == poem.created_by|lower %}    
                        <a href="{{ url_for('edit_poem', poem_id=poem._id) }}" class="waves-effect waves-light btn-small red darken-1">Edit</a> 
                        <a href="{{ url_for('delete_poem', poem_id=poem._id) }}" class="waves-effect waves-light btn-small red darken-1">Delete</a>
                        {% endif %}
                    </div>
                </div>            
            </div>
            
            <div class="collapsible-body">
                <strong>{{ poem.type_name }}</strong>
                <p>{{ poem.poem_text }}</p>
                <p>Poem submitted by: {{ poem.created_by }}</p>
            </div>
            
        </li>
        {% endfor %}
  </ul>
  </div>      

{% endblock %}    
