{% extends "base.html" %}
{% block content %}

      <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h4 class="center-align red-text text-darken-1"> 
                    Poetry Cloud Community Poems
                </h4>
            </div>
        </div>
    </div>

    <ul class="collapsible popout">
        {% for poem in poems %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">   
                    <i class="far fa-arrow-alt-circle-down red-text text-darken-1"></i>
                    <a href="" class="waves-effect waves-light btn-small red darken-1">Delete</a>
                    <a href="" class="waves-effect waves-light btn-small red darken-1">Edit</a>
                </div> 
                <div class="col s9">  
                <strong>{{ poem.poem_title }}</strong> : By {{ poem.poem_author }}
                </div>
            </div> 
            <div class="collapsible-body">
                <strong>{{ poem.type_name }}</strong>
                <p>{{ poem.poem_text }}</p>
                <p>Poem submitted by: {{ poem.created_by }}</p>
            </div>
            
        </li>
        {% endfor %}
  </ul>
        

{% endblock %}    
