{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
                <h4 class="center-align red-text text-darken-1"> 
                    {{ username }}'s Poetry Profile
                </h4>
        </div>
    </div>
   
    <ul class="collapsible popout">
        {% for poem in poems %}
        <li>
            <div class="collapsible-header">
                <div class="row">
                    <div class="col s12 center-align">   
                        <p><i class="far fa-arrow-alt-circle-down red-text text-darken-1"></i>{{ poem.poem_title }} by {{ poem.poem_author }}</p>
                    </div>
                    <div class="col s12 center-align"> 
                        {% if session.user|lower == poem.created_by|lower %}    
                        <a href="{{ url_for('edit_poem', poem_id=poem._id) }}" class="waves-effect waves-light btn-small red darken-1">Edit</a> 
                        <a href="{{ url_for('delete_poem', poem_id=poem._id) }}" class="waves-effect waves-light btn-small red darken-1">Delete</a>
                        {% endif %}
                    </div>
                </div>           
            </div>
            
            <div class="collapsible-body">
                <strong>{{ poem.type_name }}</strong>
                <pre>{{ poem.poem_text }}</pre>
                <p>Poem submitted by: {{ poem.created_by }}</p>
            </div>
            
        </li>
        {% endfor %}
  </ul>

{% endblock %}   