{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Manage Types</h3>

    <div class="row">
        {% for type in types %}
        <div class="col s12 m4 center-align">
            <div class="card white">
                <div class="card-content black-text center-align">
                    <span class="card-title">{{ type.type_name }}</span>
                </div>
                <div class="card-action">
                    <a href="#" class="waves-effect waves-light btn-small red darken-1">Edit</a>
                    <a href="#" class="waves-effect waves-light btn-small red darken-1">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    













{% endblock %}   